
h1
  {color:#F3B54A;
  text-align: center;
  font-size: 32px;
}

p
  {font-family:Arial, Helvetica, sans-serif;
   font-size: 12px;
   color:#393B45;
   text-align: center; 
  }

body
  {background-color:#F7F9F8;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
   color:#393B45;
   text-align: center; 
  }

 h2
  {font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
   color:#393B45;
   text-align: center; 
  }

head
  {text-align: center;
  }

img
  {display: block;
    align-content: center;
  }

footer
{ display: block;
}
