body {
  font-family: 'Nunito', sans-serif;
  background-color: rgb(148, 178, 212);
}

h1 {
  color: rgb(248, 218, 146);
  text-align: center;
  font-size: 30px;
}

h2 {
  color: rgb(249, 194, 147);
  text-align: center;
  font-size: 24px;
}
p {
  color: salmon;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100.5%;
}
footer {
  display: block;
}