
h1{
  color:#F3B54A;
  font-family: 'Muli', sans-serif; 
  text-align: center;
    font-size: 30px;;
  }

  h2{
    color:rgb(247, 139, 90);
    font-family: 'Muli', sans-serif; 
    text-align: center;
      font-size: 20px;;
    }
  
p{
  color: dimgray;  
  font-family: 'Muli', sans-serif; 
    font-size: 16px;
    text-align: center;;
  }

img
  { align-content:center ;
    margin-right:16px;
}

video
  { align-content:center ;}

body{
  text-align: center; 
    
}