body
  {background-color:#eeedec}

h1
  {color:#24235c}

p
  {font-family:Arial, Helvetica, sans-serif;
   font: size 12px;
   color:#d5c4b4 }

body
  {font-family:Arial, Helvetica, sans-serif;
   font: size 12px;
   color:#393B45 }

 h2
  {font-family:Arial, Helvetica, sans-serif;
   font: size 12px;
   color:#393B45 }

ol
  {font-family:Arial, Helvetica, sans-serif;
   font: size 12px;
   color:#393B45 }